{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>
        {% block title %}
        TasKite
        {% endblock title %}
    </title>
    {% block style %}
    {% endblock style %}

    <!-- Vite Hot Reloading -->
    {% vite_hmr_client %}

    {% block assets %}
    {% endblock assets %}
</head>

<body>
    <!-- Main Block -->
    {% block main %}
    {% endblock main %}

    <!-- Vue App -->
    <div id="app">
    </div>
    {{ props|json_script:"props"}}

    <!-- Additional scripts -->
    {% block script %}
    {% endblock script %}
</body>

</html>